.main 
  %ul.nav.nav-pills.nav-stacked.pull-right
    %li
      = link_to "Mission", "#mission"
    %li
      = link_to "History", "#history"
    %li
      = link_to "Partners", "#partners"
    %li
      = link_to "Advisors", "#advisors"
    %li
      = link_to "Team", "#team"

  =image_tag "politicalaction.jpg"
  #mission.explain
    %h2 Mission
    %p Corporations are people, my friend. And we've got to stop that. But do we line up on every issue? No, we don't. This is based upon the strength of the American people. I saw my father march with Martin Luther King. Often it means the difference between prospering and merely hanging on. We need leadership to rein in excessive spending, and to help America grow. What we know won't work is what this president has done, which is to try and hold off the foreclosure process, the normal market process. And there is massive waste. We have built a paralyzing uncertainty into our system.

    %p Home values continue to go down. The American ideals of economic freedom and opportunity need a clear and unapologetic defense, and I intend to make it--because I have lived it. And we've got to stop that. I love that song: O beautiful, for spacious skies, for amber waves of grain. This government is yours. And that's at the state, local and federal level. I love that song: O beautiful, for spacious skies, for amber waves of grain. I believe in America. Our freedom depends on it. And that's at the state, local and federal level. When the government gets into a market, instead of helping the market, it hurts it, by scaring the private sector away.

  #history.explain
    %h2 History
    %p Corporations are people, my friend. Being number one isn't just about bragging rights. I'll have to ask my wife what she's worth. The best ally peace has ever known is the United States of America. The key to balancing the budget--having spent 25 years in business, I know something about taking waste out of enterprises--I'd love to do that to the federal government. America needs no apologies to the world. It's time to stop the spread of government dependency and fight it like the poison it is. Home values continue to go down. This is, indeed, a time of extraordinary challenges in this country, and the overspending in Washington and the overpromises that we've made are certainly among those challenges. The Federal Reserve has a responsibility to preserve the value of our currency.

  #partners.explain
    %h2 Partners
    .row-fluid
      .span3
        = link_to(image_tag("blueridge.png"), "http://brny.org", {:target=>"_blank"})
      .span3
        = link_to(image_tag("cfa_brigade.png"), "http://brigade.codeforamerica.org", {:target=>"_blank"})
      .span3
        = link_to(image_tag("openplans.png"), "http://openplans.org", {:target=>"_blank"})
      .span3
        = link_to(image_tag("reinventalbany.png"), "http://reinventalbany.org", {:target=>"_blank"})

  #advisors.explain
    %h2 Advisors
    %ul
      %li Someone
      %li Someone else

  #team.explain
    %h2 Team
    %ul
      %li Noel Hidalgo
      %li Ashley Williams
      %li Rebecca Williams