.main
  .maininner
    %ul.nav.nav-pills.nav-stacked.pull-right.blue
      %li
        = link_to "Mission", "#mission"
      %li
        = link_to "History", "#history"
      %li
        = link_to "Partners", "#partners"
      %li
        = link_to "Advisors", "#advisors"
      %li
        = link_to "Team", "#team"
    .imgdiv
    #mission
      %h2 Mission
      %h3 BetaNYC is building a better tomorrow for all.

      %p Since 2009, we have been NYC’s civic technology and open government vanguard. By leading elected officials to engage with NYC’s technology community, passing transformative open government legislation, supporting NYC’s civic oriented startups, and building tools to protect democracy and serve our fellow brothers and sisters, we have become America’s largest civic technology and open government community.

      %ul
        %li We focus on the intersection of civic engagement through technology, and advocate for open and accountable governments. 
        %li We are residents, tourists, economy leaders, non-governmental organizations, government employees, and elected officials. 
        %li We are a multi-stakeholder community of builders and doers.
        %li We are building a better City by solving 21st Century civic problems. 
        %li We are dedicated to improving the lives of all in New York City. 
        %li We represent Code for America’s NYC brigade. 

      %p We use meetup.com/OpenNY as our membership space. On Meetup, you can sign up to receive announcements about events or join in our discussions.

      %h3 Values:
      %p For a healthy and sustainable New York City, we have updated FDR’s four freedoms for the 21st Century.

      %ol
        %li Freedom to connect.
        %li Freedom to learn.
        %li Freedom to collaborate.
        %li Freedom to innovate.

      %h3 Programs:
      %ul
        %li
          %h4 BetaBrigade:
          %p The BetaBrigade is our most valuable program. The BetaBrigade is where NYC’s civic technology community comes together to build solutions to the city’s problems. We are inaugural members of NYC’s CodeCorp.
        %li
          %h4 BetaTalks, CivicHackNights, and Gov Geek Drinks:
          %p We take an active approach to community building. You can find us hosting weekly hack nights, monthly report backs, or kicking back networking the City’s leading technologists.
        %li
          %h4 Open Government Advocacy & Campaigns:
          %p As internal and external advocates for a more effective government, we are are incrementally improving government through changes in policy, the creation of new legislation, and fighting for the future.
        %li 
          %h4 CityCamp, Unconferences, & Hackathons:
          %p Our signature event is an annual event bringing together all elements of NYC’s civic technology and open government community. We believe there is only one way to build the future, by building it collectively. 


    #history
      %h2 History
      %p Corporations are people, my friend. Being number one isn't just about bragging rights. I'll have to ask my wife what she's worth. The best ally peace has ever known is the United States of America. The key to balancing the budget--having spent 25 years in business, I know something about taking waste out of enterprises--I'd love to do that to the federal government. America needs no apologies to the world. It's time to stop the spread of government dependency and fight it like the poison it is. Home values continue to go down. This is, indeed, a time of extraordinary challenges in this country, and the overspending in Washington and the overpromises that we've made are certainly among those challenges. The Federal Reserve has a responsibility to preserve the value of our currency.

    #partners
      %h2 Partners
      .row-fluid
        .span3
          = link_to(image_tag("blueridge.png"), "http://brny.org", {:target=>"_blank"})
        .span3
          = link_to(image_tag("cfa_brigade.png"), "http://brigade.codeforamerica.org", {:target=>"_blank"})
        .span3
          = link_to(image_tag("openplans.png"), "http://openplans.org", {:target=>"_blank"})
        .span3
          = link_to(image_tag("reinventalbany.png"), "http://reinventalbany.org", {:target=>"_blank"})

    #advisors
      %h2 Advisors
      %ul
        %li Someone
        %li Someone else

    #team
      %h2 Team
      %ul
        %li Someone
        %li Someone else