.main.red
  .row-fluid
    .heroinner.span12
      %h2.aphorism
        %span THE 
        %span.highlight ENGINEERING CLASS
        %span WILL
        %span NOT
        %span.highlight SPONTANEOUSLY 
        %span BECOME
        %span.highlight POLITICAL
      %hr
      %h2.action you should #{link_to "join us", volunteer_path, {:class=>"btn-white"}}
.row-fluid
  .main.span6
    .mainheader.grey
      %h2 brigade projects
    .maininner  
      %ul
        -if @projects
          = render @projects
      = link_to "see more", projects_path, {:class=>"pull-right btn-white"}
  .main.span6
    .mainheader.grey
      %h2 upcoming events
    .maininner
      %ul
        -if @events
          = render @events
      = link_to "see more", events_path, {:class=>"pull-right btn-white"}
