.main
  .row-fluid
    .logo.span4
      =image_tag "beta.png"
      %h1 betaNYC
    .explain.span8
      %h2 betaNYC cares about open gov
      %hr
      %ul
        %li we <strong>code</strong> about it
        %li we <strong>write</strong> about it
        %li we <strong>get together and talk</strong> about it
      %hr
      %h2 you should #{link_to "join us", volunteer_path}

%section
  .row-fluid
    .projects.column.span6
      %h1 brigade projects
      %ul
        = render @projects
      = link_to "see more", projects_path
    .events.column.span6
      %h1 upcoming events
        %ul
          = render @events
      = link_to "see more", events_path
