= form_for @user, {:html=>{:class=>"form-horizontal"}} do |f|
  = render 'shared/error_messages'
  .field.control-group
    .control-label
      = f.label :name
    .controls
      = f.text_field :name
  .field.control-group
    .control-label
      = f.label :email
    .controls
      = f.text_field :email
  .field.control-group
    .control-label
      = f.label :githandle
    .controls
      = f.text_field :githandle
  .field.control-group
    .control-label
      = f.label :cellphone
    .controls
      = f.text_field :cellphone
  %hr/
  .field.control-group
    .control-label
      = f.label :password
    .controls
      = f.password_field :password
  .field.control-group
    .control-label
      = f.label :password_confirmation
    .controls
      = f.password_field :password_confirmation
  .action.control-group
    .controls
      = f.submit "Submit", {:class=>"btn btn-primary btn-large"}