.main.row-fluid
  %aside.span4
    = gravatar_for @user
    %h1 #{@user.name}
    %h4 #{@user.email}
    %h4 #{@user.githandle}
    %h4 #{@user.cellphone}
    = link_to 'Edit', edit_user_path(@user), {:class => "btn"} 
  .span8
    %section.events
      -if @user.events.any?
        %h3 Events (#{@user.events.count})
        %ol.events
          = render @events
    %section.projects
      -if @user.projects.any?
        %h3 Projects (#{@user.projects.count})
        %ol.projects
          = render @projects
