%hr
%li
  = link_to event.name, event
  -if current_user?(event.user)
    .options
      =link_to "delete", event, method: :delete,
                                data: { confirm: "Are you sure?" },
                                title: event.name
      |
      =link_to "edit", edit_event_path(event)
  %span.when #{event.when}
  %span.location #{event.location}
  = link_to "RSVP on Meetup.com", event.meetup_url, {:target=>"_blank", :class=>"btn"}
  %p #{event.description}