%li
  %br/
  .rsvp 
    .date
      %span.day #{event.when.strftime('%d')}
      %br/
      %span.month #{event.when.strftime('%B')}
    = link_to "RSVP", event.meetup_url, {:target=>"_blank", :class=>"btn-red"}
    -if current_user?(event.user)
      %span.options
        =link_to "delete", event, method: :delete,
                                  data: { confirm: "Are you sure?" },
                                  title: event.name
        |
        =link_to "edit", edit_event_path(event)
  = link_to event.name, event, {:class=>"unit-title"}
  %p #{event.when.strftime('%H:%M')}
  %p Location: #{event.location}
  %p #{event.description}