%hr
%li
  = link_to event.name, event, {:class=>"unit-title"}
  -if current_user?(event.user)
    %span.options
      =link_to "delete", event, method: :delete,
                                data: { confirm: "Are you sure?" },
                                title: event.name
      |
      =link_to "edit", edit_event_path(event)
  %br/
  %span.when #{event.when}
  %span.location #{event.location}
  %br/
  = link_to "RSVP on Meetup.com", event.meetup_url, {:target=>"_blank", :class=>"btn-red"}
  %p #{event.description}