.main
  %h1
    = link_to @event.name, @event
  -if current_user?(@user)
    .options
      =link_to "delete", @event, method: :delete,
                                data: { confirm: "Are you sure?" },
                                title: @event.name
      |
      =link_to "edit", edit_event_path(@event)
  = link_to "RSVP on Meetup.com", @event.meetup_url, {:target=>"_blank", :class=>"btn"}
  %p Location: #{@event.location}
  %p #{@event.when}

  %p
    Contact:
    = link_to @user.name, @user

  %p #{@event.description}

