!!! 5
%html{:lang => "en"}
  %head
    %title beta NYC
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-fluid
      - flash.each do |key, value|
        .alert{:class=>"alert-#{key}"}
          #{value}
      %header
        = render "shared/social"
      =render "shared/nav"
      =yield
      %footer
        = render "shared/social"
      = debug(params) if Rails.env.development?
